<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <div class="container header-container">
        <div class="site-name">
            <img th:src="@{/img/logoUR.png}" align="left" width="400" height="45" th:href="@{/}">
            <span class="title">Praca inżynierska</span>
        </div>

        <div class="header-bar">
            <div><span id="title-app">Implementacja aplikacji Chatbot reagującej na emocje rozmówcy</span></div>
        </div>
    </div>
    <hr class="line">
    <br/>
</th:block>
</body>


</html>