<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="center">
        <h2>Lista filmów</h2>
        <br/>
        Poniżej znajduję się lista filmów dodanych do serwisu. Aby dokonać oceny filmu wejdź w jego szeczgóły.
        <br/><br/>
        <div class="moviesList">
            <div class="table100 ver1 m-b-110">
                <div th:if="${not #lists.isEmpty(movies)}">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="column1">L.p</th>
                                <th class="column2">Tytuł</th>
                                <th class="column3">Reżyser</th>
                                <th class="column4">Rok</th>
                                <th class="column5">Szczegóły</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body">
                        <table>
                            <tbody>
                            <tr th:each="movie,iterStat : ${movies}" class="row100 body">
                                <td class="column1" th:text="${iterStat.count}"></td>
                                <td class="column2" th:text="${movie.title}"></td>
                                <td class="column3" th:text="${movie.director}"></td>
                                <td class="column4" th:text="${movie.productionYear}"></td>
                                <td class="column5"><a th:href="@{/movie/list/__${movie.idMovie}__}">Więcej</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>