<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ocenianie</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="detailsMovie">
        <br/>
        Oceniasz film "<span id="detailsMovie2" th:text="${movie.title}"></span>" w reżyserii <span
            th:text="${movie.director}"></span><br/>
    </div>
    <br/><br/>

    <div class="messaging">
        <img th:src="@{/img/bot.png}" alt="Avatar" style="width:100%;">
        <p>Witaj! Dziękuje za chęć oceny filmu. Proszę aby Twoje odpowiedzi na zadawane pytania były pełnymi
            zdaniami.</p>
        <p>A więc zaczynajmy!</p>
    </div>

    <p th:utext="${codeHtml}"></p>

    <script type="text/javascript">
        function init() {
            $('textarea').each(function () {
                this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
            }).on('input', function () {
                this.style.height = '38px';
                this.style.height = (this.scrollHeight) + 'px';
            });
            window.scrollTo(0,document.body.scrollHeight);
        }

        window.onload = init;
    </script>

    <div class="formMarking">
        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/send}" th:object="${rating}" method="post">
            <textarea id="contentMarking" th:field="*{contentRating}" cols="120" wrap="soft" style="overflow:hidden;"/>

            <input type="submit" value="Wyślij" class="btn btn-primary" id="btnSend"/></br>
        </form>
    </div>
</div>
</body>
</html>