<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="detailsMovie">
    <br/><br/>
    Tytuł: <span th:text="${movie.title}"></span><br/>
    Reżyser: <span th:text="${movie.director}"></span><br/>
    Rok produkcji: <span th:text="${movie.productionYear}"></span><br/><br/>
</div>
<br/>

<div class="btnRating">
    <a th:href="@{__${#httpServletRequest.requestURI}__/marking}" class="btn btn-warning btn-lg" role="button"
       aria-disabled="true">Oceń film</a>
</div>

<br/><br/>
<div class="comments">
    <h2>Dodane oceny</h2>
    <hr>
    <br/>

    <span th:each="rating : ${ratings}">
        <div class="comment">
            <div class="rating">
                Film został oceniony na: <span th:text="${rating.rating}"></span>/10
            </div><br/>

            <div class="contentRating">
                <span th:text="${rating.contentRating}"></span>
            </div>
        </div>
        <br/><hr><br/>
    </span>

</div>

</body>
</html>