<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="detailsMovie">
        <br/>
        Podsumowanie oceny filmu "<span id="detailsMovie2" th:text="${movie.title}"></span>" w reżyserii <span
            th:text="${movie.director}"></span><br/>
    </div>
    <br/>
    <div class="summaryMarking">
        <span id="summaryDescription">Dziękujemy za Twoją opinię o filmie. Poniżej możesz zobaczyć jaką ocene filmu wystawił algorytm na podstawie Twojej opinii, oraz zobaczyć w jaki sposób ta ocena została wystawiona.</span>

        <br><br/>
        <span id="titleOpinion">Twoja opinia:</span><br/>
        <span id="opinion" th:text="${content}"></span>

        <br/><br/>

        <span id="titleRating">Wystawiona ocena filmu: <span id="rating" th:text="${rating}"></span>/10</span>
    </div>
</div>
</body>
</html>