<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="detailsMovie">
        <br/>
        Podsumowanie oceny filmu "<span id="detailsMovie2" th:text="${movie.title}"></span>" w reżyserii <span
            th:text="${movie.director}"></span><br/>
    </div>
    <br/>
    <div class="summaryMarking">
        <span id="summaryDescription">Dziękujemy za Twoją opinię o filmie. Poniżej możesz zobaczyć jaką ocene filmu wystawił algorytm na podstawie Twojej opinii, oraz zobaczyć w jaki sposób ta ocena została wystawiona.</span>

        <br><br/>
        <span id="titleOpinion">Twoja opinia:</span><br/>
        <span id="opinion" th:text="${dialogProgress.content}"></span>

        <br/><br/>

        <span id="titleRating">Wystawiona ocena filmu: <span id="rating" th:text="${rating}"></span>/10</span>
        <br/>
        <hr id="line">
        <span id="titleAnalysis">Analiza algorytmu</span>
        <br/>
        <span id="summaryDescription">W pierwszym kroku analizy potrzebowaliśmy Twojej opinii o filmie. Kompletna opinia zawiera odpowiedzi liczące minimum 120 znaków na 3 kategorie w których oceniamy film.
        Te kategorie to: gra aktorska, fabuła filmu oraz efekty specjalne (scenografia, montaż, muzyka, efekty wizualne). Przetwarzanie odpowiedzi wraz z analizą czy Twoja odpowiedź jest na temat zostało
        wykonane przy wykorzystaniu platformy wit.ai która oferuję narzędzie do przetwarzania języka naturalnego.</span><br/><br/>
        Poniżej przedstawiono do której kategorii oceny filmu została przypisana każda z części Twojej
        wypowiedzi.<br/><br/>

        <div class="confidenceTable">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="column1Summary">Kategoria</th>
                            <th class="column2Summary">Cześć wypowiedzi</th>
                            <th class="column3Summary">Klasyfikacja do kategorii</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body">
                    <table>
                        <tbody>
                        <tr class="row100 body">
                            <td class="column1Summary">Fabuła</td>
                            <td class="column2Summary" th:text="${dialogProgress.opinionStory}"></td>
                            <td class="column3Summary" th:utext="${dialogProgress.confidenceStory}"></td>
                        </tr>
                        <tr class="row100 body">
                            <td class="column1Summary">Gra aktorska</td>
                            <td class="column2Summary" th:text="${dialogProgress.opinionActing}"></td>
                            <td class="column3Summary" th:utext="${dialogProgress.confidenceActing}"></td>
                        </tr>
                        <tr class="row100 body">
                            <td class="column1Summary">Efekty specjalne</td>
                            <td class="column2Summary" th:text="${dialogProgress.opinionSpecialEffects}"></td>
                            <td class="column3Summary" th:utext="${dialogProgress.confidenceSpecialEffects}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/><br/>
        <span id="summaryDescription">
            W kolejnym kroku pełna ocena zostaje poddana analizie emocjonalnej. Na tej podstawie zostaje wystawiona ocena filmu w skali od 0 do 10 gdzie:<br>
            0 - bardzo negatywna opinia o filmie<br/>
            5 - opinia neutralna<br/>
            10 - bardzo pozytywna opinia<br/><br/>

            <span id="bold">Ogólne kroki analizy emocjonalnej:</span><br/>
            1. Usunięcie z opinii elementów niemożliwych do poddania ocenie<br/>
            2. Podzielenie opinii na liste zdań<br/>
            3. Podzielenie zdań na liste słów<br/>
            4. Sprowadznie każdego wyrazu do formy podstawowej oraz określenie jego części mowy za pomocą biblioteki Morfologik<br/>
            5. Stworzenie listy wyrażeń w zdaniach np. (przysłówek-czasownik, przymiotnik-rzeczownik)<br/>
            6. Ocena anotacji emocjonalnej każdego wyrażenia przy użyciu słownika anotacji emocjonalnej stworzonego przez Słowosieć<br/>
            7. Obliczenie stosunku pozytywnych wyrażeń do negatywnych<br/>
            8. Wystawienie oceny końcowej<br/><br/>

            Poniżej przedstawiono wykaz wyrażeń (sprowadzonych do formy podstawowej) które algorytm odnalazł w Twojej ocenie. Do każdego z wyrazów wyrażenia przyporządkowano ocene emocjonalną,
            na końcu wystawiono ocenę końcową każdego wyrażenia. Oceny zawierają się w skali od -2 do 2 gdzie:<br/>
            -2 : bardzo negatywny<br/>
            -1 : słabo negatywny<br/>
            0 : neutralny - brak anotacji emocjonalnej<br/>
            1 : słabo pozytywny<br/>
            2 : mocno pozytywny<br/><br/>
        </span><br/>

        <div class="phraseTable">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="column1Phrase">Wyrażenie</th>
                            <th class="column2Phrase">Ocena 1 wyrazu</th>
                            <th class="column3Phrase">Ocena 2 wyrazu</th>
                            <th class="column4Phrase">Ocena całego wyrażenia</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body">
                    <table>
                        <tbody>
                        <tr class="row100 body" th:each="phrase : ${phrases}">
                            <td class="column1Phrase" th:text="${phrase.phrase}"></td>
                            <td class="column2Phrase" th:text="${phrase.rate1Word}"></td>
                            <td class="column3Phrase" th:text="${phrase.rate2Word}"></td>
                            <td class="column4Phrase" th:text="${phrase.ratePhrase}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <span id="summaryDescription">
            <span id="bold">Opinia otrzymała:</span><br/>
            <span th:text="${positivePoints}"></span> punktów pozytywnych<br/>
            <span th:text="${negativePoints}"></span> punktów negatywnych<br/><br/>

            <span id="titleRating">Wystawiona na podstawie punktów ocena to : <span id="rating"
                                                                                     th:text="${rating}"></span>/10</span>
        </span>
        <div id="marginFooter"></div>
    </div>
</div>
</body>
</html>